In [1]:
import pandas as pd
import datetime
import numpy as np

In [2]:
PI_2015 = ("source_files/Police_Incidents_2015.csv")
PI_2016 = ("source_files/Police_Incidents_2016.csv")
PI_2017 = ("source_files/Police_Incidents_2017.csv")
PI_2018 = ("source_files/Police_Incidents_2018.csv")
PI_2018_2019 = ("source_files/Police_Incidents_Last_2Years.csv")
Neigh_Key = ("target_files/MLPS_Neighborhoods.csv")

In [3]:
PI_2015_df = pd.read_csv(PI_2015)
PI_2016_df = pd.read_csv(PI_2016)
PI_2017_df = pd.read_csv(PI_2017)
PI_2018_df = pd.read_csv(PI_2018)
PI_Last2Years_df = pd.read_csv(PI_2018_2019)
Neigh_Key_df = pd.read_csv(Neigh_Key)

In [4]:
PI_pre18 = [PI_2015_df,PI_2016_df,PI_2017_df,PI_2018_df]
PI_pre18_merge = pd.concat(PI_pre18)
PI_pre18_merge.head(1)

,FID,PublicAddress,ControlNbr,CCN,Precinct,ReportedDate,BeginDate,Time,Offense,Description,UCRCode,EnteredDate,GBSID,Lat,Long,X,Y,Neighborhood,LastChanged,LastUpdateDate
0,1,0021XX Broadway AV W,3363209,MP 2014 457317,4.0,2015/01/01 00:04:59,2014/12/31 20:10:00,20:10:00,AUTOTH,Motor Vehicle Theft,8,2015/01/01 00:05:21,15215.0,45.003096,-93.307022,"-10,386,890.1882","5,622,008.9491",JORDAN,2015/01/01 01:33:55,2017/03/03 13:40:06

In [5]:
PI_pre18_final = PI_pre18_merge.drop(columns={"PublicAddress", "ControlNbr",
                                                "Precinct", "BeginDate", "Time",
                                                 "EnteredDate", "GBSID", "Lat", 
                                                  "Long", "X", "Y",
                                                 "LastChanged", "LastUpdateDate",
                                                 "Description","UCRCode","FID"})
PI_pre18_final.head(5)

              CCN         ReportedDate Offense   Neighborhood
0  MP 2014 457317  2015/01/01 00:04:59  AUTOTH         JORDAN
1  MP 2014 457574  2015/01/01 00:16:00  AUTOTH   NEAR - NORTH
2  MP 2015 999999  2015/01/01 01:13:52   THEFT  DOWNTOWN WEST
3  MP 2014 457244  2015/01/01 01:24:00   BURGD       MCKINLEY
4  MP 2015 000138  2015/01/01 01:40:00   BURGD   DIAMOND LAKE

In [6]:
#PI_Last2Years_df

In [7]:
PI_Last2Years_final = PI_Last2Years_df.drop(columns={"publicaddress","reportedTime", "reportedDateTime",
                                                "precinct", "beginDate", "beginTime",
                                                 "enteredDate", "X", "Y",
                                                 "lastchanged", "LastUpdateDateETL","enteredDate",
                                                 "centerX","centerY","centerLong","centergbsid",
                                                 "centerLat", "enteredDate", "description",
                                                 "OBJECTID", "UCRCode", "lastchanged","LastUpdateDateETL"})

In [8]:
PI_pre18_final = PI_pre18_final.rename(columns={"CCN":"caseNumber", "ReportedDate":"reportedDate","Offense":"offense","Neighborhood":"neighborhood"})

In [9]:
yearjoins = [PI_pre18_final,PI_Last2Years_final]
PI_Final = pd.concat(yearjoins)
PI_Final.head(5)

       caseNumber         reportedDate offense   neighborhood
0  MP 2014 457317  2015/01/01 00:04:59  AUTOTH         JORDAN
1  MP 2014 457574  2015/01/01 00:16:00  AUTOTH   NEAR - NORTH
2  MP 2015 999999  2015/01/01 01:13:52   THEFT  DOWNTOWN WEST
3  MP 2014 457244  2015/01/01 01:24:00   BURGD       MCKINLEY
4  MP 2015 000138  2015/01/01 01:40:00   BURGD   DIAMOND LAKE

In [10]:
PI_Final['caseNumber'] = PI_Final['caseNumber'].str.replace(" ","")
PI_Final.head(5)

     caseNumber         reportedDate offense   neighborhood
0  MP2014457317  2015/01/01 00:04:59  AUTOTH         JORDAN
1  MP2014457574  2015/01/01 00:16:00  AUTOTH   NEAR - NORTH
2  MP2015999999  2015/01/01 01:13:52   THEFT  DOWNTOWN WEST
3  MP2014457244  2015/01/01 01:24:00   BURGD       MCKINLEY
4  MP2015000138  2015/01/01 01:40:00   BURGD   DIAMOND LAKE

In [11]:
incident_id = PI_Final.index + 1

In [12]:
PI_Final['incident_id']= incident_id

In [13]:
PI_Final.head(5)

     caseNumber         reportedDate offense   neighborhood  incident_id
0  MP2014457317  2015/01/01 00:04:59  AUTOTH         JORDAN            1
1  MP2014457574  2015/01/01 00:16:00  AUTOTH   NEAR - NORTH            2
2  MP2015999999  2015/01/01 01:13:52   THEFT  DOWNTOWN WEST            3
3  MP2014457244  2015/01/01 01:24:00   BURGD       MCKINLEY            4
4  MP2015000138  2015/01/01 01:40:00   BURGD   DIAMOND LAKE            5

In [14]:
PI_Final['neighborhood']= PI_Final['neighborhood'].str.upper()

In [15]:
PI_Final = PI_Final.replace(to_replace = "HUMBOLDT INDUSTRIAL AREA", value ="HUMBOLDT INDUST AREA")
PI_Final = PI_Final.replace(to_replace = "CAMDEN INDUSTRIAL", value ="CAMDEN INDUSTRIAL AREA")        
PI_Final = PI_Final.replace(to_replace = "CARAG", value ="South Uptown")
PI_Final = PI_Final.replace(to_replace = "BRYN - MAWR", value ="Bryn Mawr")
PI_Final = PI_Final.replace(to_replace = "COLUMBIA PARK", value ="Columbia")
PI_Final = PI_Final.replace(to_replace = "MID - CITY INDUSTRIAL", value ="Mid City Industrial Ar")
PI_Final = PI_Final.replace(to_replace = "NICOLLET ISLAND - EAST BANK", value ="Nicollet Is/East Bank")
PI_Final = PI_Final.replace(to_replace = "UNIVERSITY OF MINNESOTA", value ="University")
PI_Final = PI_Final.replace(to_replace = "STEVENS SQUARE - LORING HEIGHTS", value ="Steven's Square - Loring Heights")
PI_Final['neighborhood']= PI_Final['neighborhood'].str.upper()

PI_Final.head(5)

     caseNumber         reportedDate offense   neighborhood  incident_id
0  MP2014457317  2015/01/01 00:04:59  AUTOTH         JORDAN            1
1  MP2014457574  2015/01/01 00:16:00  AUTOTH   NEAR - NORTH            2
2  MP2015999999  2015/01/01 01:13:52   THEFT  DOWNTOWN WEST            3
3  MP2014457244  2015/01/01 01:24:00   BURGD       MCKINLEY            4
4  MP2015000138  2015/01/01 01:40:00   BURGD   DIAMOND LAKE            5

In [16]:
Neigh_Key_df['name']=Neigh_Key_df['name'].str.upper()
Neigh_Key_df = Neigh_Key_df.rename(columns={'name':"neighborhood"})
Neigh_Key_df

    neighborhood_id       neighborhood  community_id
0                 1           ARMATAGE            10
1                 2       EAST HARRIET            10
2                 3             FULTON            10
3                 4              KENNY            10
4                 5         KING FIELD            10
..              ...                ...           ...
82               83          HAWTHORNE             5
83               84             JORDAN             5
84               85       NEAR - NORTH             5
85               86  SUMNER - GLENWOOD             5
86               87      WILLARD - HAY             5

[87 rows x 3 columns]

In [17]:
PI_Final_ID = pd.merge(PI_Final, Neigh_Key_df, on='neighborhood', how= 'left')
PI_Final_ID.head(5)

,caseNumber,reportedDate,offense,neighborhood,incident_id,neighborhood_id,community_id
0,MP2014457317,2015/01/01 00:04:59,AUTOTH,JORDAN,1,84.0,5.0
1,MP2014457574,2015/01/01 00:16:00,AUTOTH,NEAR - NORTH,2,85.0,5.0
2,MP2015999999,2015/01/01 01:13:52,THEFT,DOWNTOWN WEST,3,73.0,3.0
3,MP2014457244,2015/01/01 01:24:00,BURGD,MCKINLEY,4,45.0,2.0
4,MP2015000138,2015/01/01 01:40:00,BURGD,DIAMOND LAKE,5,61.0,6.0

In [18]:
#PI_Final_ID['neighboorhood_id'] = PI_Final_ID['neighboorhood_id'].astype('int64', copy=False)
#df.astype({'col1': 'int32'}).dtypes
#PI_Final_ID.astype({'neighborhood_id': 'int64'}).dtypes
PI_Final_ID.dtypes

caseNumber          object
reportedDate        object
offense             object
neighborhood        object
incident_id          int64
neighborhood_id    float64
community_id       float64
dtype: object

In [19]:
PI_Final_ID['neighborhood_id'] = PI_Final_ID['neighborhood_id'].values.astype(np.int64)
PI_Final_ID['community_id'] = PI_Final_ID['community_id'].values.astype(np.int64)
PI_Final_ID.dtypes

caseNumber         object
reportedDate       object
offense            object
neighborhood       object
incident_id         int64
neighborhood_id     int64
community_id        int64
dtype: object

In [20]:
PI_Final_ID.head(5)

,caseNumber,reportedDate,offense,neighborhood,incident_id,neighborhood_id,community_id
0,MP2014457317,2015/01/01 00:04:59,AUTOTH,JORDAN,1,84,5
1,MP2014457574,2015/01/01 00:16:00,AUTOTH,NEAR - NORTH,2,85,5
2,MP2015999999,2015/01/01 01:13:52,THEFT,DOWNTOWN WEST,3,73,3
3,MP2014457244,2015/01/01 01:24:00,BURGD,MCKINLEY,4,45,2
4,MP2015000138,2015/01/01 01:40:00,BURGD,DIAMOND LAKE,5,61,6

In [21]:
#QA Merging
#len(PI_Final_ID['neighborhood_id'])
#PI_Final_ID['neighborhood_id'].count()
#PI_Final_ID['neighborhood_id'].isnull().sum(axis = 0)

In [22]:
#QA Neighborhood Names
#a = PI_Final['neighborhood'].unique()
#a_df = pd.DataFrame(data=a)
#a_df 
#a_df.to_csv("target_files/neighborhoods.csv", index=False, header=True)

In [23]:
PI_Final_ID.head(5)

,caseNumber,reportedDate,offense,neighborhood,incident_id,neighborhood_id,community_id
0,MP2014457317,2015/01/01 00:04:59,AUTOTH,JORDAN,1,84,5
1,MP2014457574,2015/01/01 00:16:00,AUTOTH,NEAR - NORTH,2,85,5
2,MP2015999999,2015/01/01 01:13:52,THEFT,DOWNTOWN WEST,3,73,3
3,MP2014457244,2015/01/01 01:24:00,BURGD,MCKINLEY,4,45,2
4,MP2015000138,2015/01/01 01:40:00,BURGD,DIAMOND LAKE,5,61,6

In [24]:
PI_Final_ID.to_csv("target_files/Police_Incidents.csv", index=False, header=True)