In [2]:
import pandas as pd
import numpy as np
import os as os

# SQL Alchemy
from sqlalchemy import create_engine

In [3]:
# Create Engine for employee db
engine = create_engine('postgresql://localhost:5432/Minneapolis_Police_Force_db')
connection = engine.connect()

In [4]:
#load csv into dataframe
load_csv = "source_files/MLPS_Communities_raw.csv"
MLPS_Communities_df = pd.read_csv(load_csv)
MLPS_Communities_df.head()

       COMMUNITY
0  Calhoun Isles
1         Camden
2        Central
3     Longfellow
4     Near North

In [5]:
#Rename df names to match Postgres table
MLPS_Communities_df.rename(columns={'COMMUNITY': 'name'}, inplace=True)
MLPS_Communities_df.head()

            name
0  Calhoun Isles
1         Camden
2        Central
3     Longfellow
4     Near North

In [6]:
#Start index from 1 in MLPS_Communities_df and rename index field
MLPS_Communities_df.index = np.arange(1, len(MLPS_Communities_df)+1)
MLPS_Communities_df.index = MLPS_Communities_df.index.set_names(['community_id'])

MLPS_Communities_df.head()

                       name
community_id
1             Calhoun Isles
2                    Camden
3                   Central
4                Longfellow
5                Near North

In [6]:
#append data to Postgres existing table
MLPS_Communities_df.to_sql('community', engine,if_exists='append')

In [7]:
#Save data to a csv file
output_data_file = "target_files/MLS_Communities.csv"
output_path = os.path.join(output_data_file)
MLPS_Communities_df.to_csv(output_path, header=True)