In [1]:
import pandas as pd
import datetime

In [2]:
PI_2015 = ("source_files/Police_Incidents_2015.csv")
PI_2016 = ("source_files/Police_Incidents_2016.csv")
PI_2017 = ("source_files/Police_Incidents_2017.csv")
PI_2018 = ("source_files/Police_Incidents_2018.csv")
PI_2018_2019 = ("source_files/Police_Incidents_Last_2Years.csv")

In [3]:
PI_2015_df = pd.read_csv(PI_2015)
PI_2016_df = pd.read_csv(PI_2016)
PI_2017_df = pd.read_csv(PI_2017)
PI_2018_df = pd.read_csv(PI_2018)
PI_Last2Years_df = pd.read_csv(PI_2018_2019)

In [4]:
PI_pre18 = [PI_2015_df,PI_2016_df,PI_2017_df,PI_2018_df]
PI_pre18_merge = pd.concat(PI_pre18)
PI_pre18_merge.head(1)

,FID,PublicAddress,ControlNbr,CCN,Precinct,ReportedDate,BeginDate,Time,Offense,Description,UCRCode,EnteredDate,GBSID,Lat,Long,X,Y,Neighborhood,LastChanged,LastUpdateDate
0,1,0021XX Broadway AV W,3363209,MP 2014 457317,4.0,2015/01/01 00:04:59,2014/12/31 20:10:00,20:10:00,AUTOTH,Motor Vehicle Theft,8,2015/01/01 00:05:21,15215.0,45.003096,-93.307022,"-10,386,890.1882","5,622,008.9491",JORDAN,2015/01/01 01:33:55,2017/03/03 13:40:06
1,2,Girard AV N / Plymouth AV N,3363210,MP 2014 457574,4.0,2015/01/01 00:16:00,2014/12/31 23:48:59,23:49:00,AUTOTH,Motor Vehicle Theft,8,2015/01/01 00:13:17,NaN,44.991960,-93.297170,"-10,385,793.49","5,620,255.548",NEAR - NORTH,2015/02/20 06:12:55,2017/03/03 13:40:06
2,3,2 AV N / 4 ST N,3363218,MP 2015 999999,1.0,2015/01/01 01:13:52,2014/12/31 19:30:00,19:30:00,THEFT,Other Theft,7,2015/01/01 01:13:52,NaN,44.982050,-93.273690,"-10,383,179.94","5,618,696.632",DOWNTOWN WEST,2015/01/02 07:04:14,2017/03/03 13:40:06

In [6]:
PI_pre18_final = PI_pre18_merge.drop(columns={"PublicAddress", "ControlNbr",
                                                "Precinct", "BeginDate", "Time",
                                                 "EnteredDate", "GBSID", "Lat", 
                                                  "Long", "X", "Y",
                                                 "LastChanged", "LastUpdateDate",
                                                 "Description","UCRCode","FID"})
PI_pre18_final.head(5)

,CCN,ReportedDate,Offense,Neighborhood
0,MP 2014 457317,2015/01/01 00:04:59,AUTOTH,JORDAN
1,MP 2014 457574,2015/01/01 00:16:00,AUTOTH,NEAR - NORTH
2,MP 2015 999999,2015/01/01 01:13:52,THEFT,DOWNTOWN WEST
3,MP 2014 457244,2015/01/01 01:24:00,BURGD,MCKINLEY
4,MP 2015 000138,2015/01/01 01:40:00,BURGD,DIAMOND LAKE
...,...,...,...,...
7345,MP 2018 997197,2018/06/04 14:42:59,BIKETF,STEVENS SQUARE - LORING HEIGHTS
7346,MP 2018 183637,2018/06/04 15:27:00,THEFT,NEAR - NORTH
7347,MP 2018 183711,2018/06/04 16:21:59,THEFT,DOWNTOWN WEST
7348,MP 2018 997195,2018/06/04 17:34:46,BIKETF,LOWRY HILL EAST
7349,MP 2018 997194,2018/06/04 19:07:22,BIKETF,HOLLAND

In [ ]:
#PI_Last2Years_df

In [8]:
PI_Last2Years_final = PI_Last2Years_df.drop(columns={"publicaddress","reportedTime", "reportedDateTime",
                                                "precinct", "beginDate", "beginTime",
                                                 "enteredDate", "X", "Y",
                                                 "lastchanged", "LastUpdateDateETL","enteredDate",
                                                 "centerX","centerY","centerLong","centergbsid",
                                                 "centerLat", "enteredDate", "description",
                                                 "OBJECTID", "UCRCode", "lastchanged","LastUpdateDateETL"})

,caseNumber,reportedDate,offense,neighborhood
0,MP201818191203,2018/06/10 00:00:00+00,ARSON,Linden Hills
1,MP2018184309,2018/06/05 00:00:00+00,THEFT,Midtown Phillips
2,MP2018184342,2018/06/05 00:00:00+00,DASTR,Northeast Park
3,MP2018184374,2018/06/05 00:00:00+00,BURGD,Hale
4,MP2018184413,2018/06/05 00:00:00+00,BURGD,Northrop
...,...,...,...,...
43648,MP201936402,2019/02/07 00:00:00+00,ROBPER,Downtown West
43649,MP201936437,2019/02/07 00:00:00+00,ASLT3,Downtown West
43650,MP201936448,2019/02/07 00:00:00+00,ASLT2,Hawthorne
43651,MP201936483,2019/02/07 00:00:00+00,AUTOTH,Powderhorn Park
43652,MP2019700644,2019/02/06 00:00:00+00,THEFT,ECCO

In [12]:
PI_pre18_final = PI_pre18_final.rename(columns={"CCN":"caseNumber", "ReportedDate":"reportedDate","Offense":"offense","Neighborhood":"neighborhood"})

In [13]:
yearjoins = [PI_pre18_final,PI_Last2Years_final]
PI_Final = pd.concat(yearjoins)
PI_Final.head(5)

                 caseNumber            reportedDate   offense     neighborhood
0            MP 2014 457317     2015/01/01 00:04:59    AUTOTH           JORDAN
1            MP 2014 457574     2015/01/01 00:16:00    AUTOTH     NEAR - NORTH
2            MP 2015 999999     2015/01/01 01:13:52     THEFT    DOWNTOWN WEST
3            MP 2014 457244     2015/01/01 01:24:00     BURGD         MCKINLEY
4            MP 2015 000138     2015/01/01 01:40:00     BURGD     DIAMOND LAKE
...                     ...                     ...       ...              ...
43648  MP201936402           2019/02/07 00:00:00+00  ROBPER      Downtown West
43649  MP201936437           2019/02/07 00:00:00+00  ASLT3       Downtown West
43650  MP201936448           2019/02/07 00:00:00+00  ASLT2           Hawthorne
43651  MP201936483           2019/02/07 00:00:00+00  AUTOTH    Powderhorn Park
43652  MP2019700644          2019/02/06 00:00:00+00  THEFT                ECCO

[113241 rows x 4 columns]

In [20]:
PI_Final['caseNumber'] = PI_Final['caseNumber'].str.replace(" ","")
PI_Final.head(5)

     caseNumber         reportedDate offense   neighborhood
0  MP2014457317  2015/01/01 00:04:59  AUTOTH         JORDAN
1  MP2014457574  2015/01/01 00:16:00  AUTOTH   NEAR - NORTH
2  MP2015999999  2015/01/01 01:13:52   THEFT  DOWNTOWN WEST
3  MP2014457244  2015/01/01 01:24:00   BURGD       MCKINLEY
4  MP2015000138  2015/01/01 01:40:00   BURGD   DIAMOND LAKE

In [26]:
ID = PI_Final.index + 1

Int64Index([    1,     2,     3,     4,     5,     6,     7,     8,     9,
               10,
            ...
            43644, 43645, 43646, 43647, 43648, 43649, 43650, 43651, 43652,
            43653],
           dtype='int64', length=113241)

In [27]:
PI_Final['ID']= ID

In [28]:
PI_Final.head(5)

         caseNumber            reportedDate   offense     neighborhood     ID
0      MP2014457317     2015/01/01 00:04:59    AUTOTH           JORDAN      1
1      MP2014457574     2015/01/01 00:16:00    AUTOTH     NEAR - NORTH      2
2      MP2015999999     2015/01/01 01:13:52     THEFT    DOWNTOWN WEST      3
3      MP2014457244     2015/01/01 01:24:00     BURGD         MCKINLEY      4
4      MP2015000138     2015/01/01 01:40:00     BURGD     DIAMOND LAKE      5
...             ...                     ...       ...              ...    ...
43648   MP201936402  2019/02/07 00:00:00+00  ROBPER      Downtown West  43649
43649   MP201936437  2019/02/07 00:00:00+00  ASLT3       Downtown West  43650
43650   MP201936448  2019/02/07 00:00:00+00  ASLT2           Hawthorne  43651
43651   MP201936483  2019/02/07 00:00:00+00  AUTOTH    Powderhorn Park  43652
43652  MP2019700644  2019/02/06 00:00:00+00  THEFT                ECCO  43653

[113241 rows x 5 columns]

In [29]:
PI_Final.to_csv("target_files/Police_Incidents.csv", index=False, header=True)